.nav {
  grid-area: nav;
  width: 100%;
  display: flex;
  /*flex-direction: row;*/
  align-items: flex-start;
  justify-content: space-around;
  list-style-type: none;
}
.section1 {
  grid-area: sectionrecherche;
}
.rechercher {
  display: flex;
}
.box:nth-of-type(1) {
  order: 1;
}
.box:nth-of-type(2) {
  order: 4;
}
.box:nth-of-type(3) {
  order: 2;
}
.box:nth-of-type(4) {
  order: 3;
}
.filtres {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
}
.billet,
.child,
.coeur,
.chien {
  width: 110px;
  height: 17px;
  border: 1px solid #f2f2f2;
  border-radius: 55px 55px;
  padding: 10px 20px 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cercle {
  background-color: #deebff;
  padding: 10px;
  border-radius: 50%;
  align-items: center;
}
.child {
  width: 100px;
  padding: 10px 10px 10px 0px;
}
.chien {
  width: 168px;
  padding: 10px 20px 10px 0px;
}
.info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.logo {
  width: 100px;
  height: 50px;
}
body {
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  font-family: "Raleway Regular", arial;
}
h1 {
  width: auto;
  margin: 35px 15px 15px 30px;
}
h2 {
  margin: 35px 15px 15px 20px;
  height: 16px;
}
h3 {
  width: auto;
  /*margin: 35px 15px 15px 30px;*/
  margin-left: 0px;
  margin-bottom: 25px;
}
h4,
h5,
h6 {
  margin-top: 50px;
  margin-bottom: 0px;
  font-size: 20px;
}
/*h5 {
  margin-top: 50px;
  font-size: 20px;
}
h6 {
  margin-top: 50px;
  font-size: 20px;
}*/
#container {
  display: grid;
  align-items: flex-start;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 110px 220px 700px 680px;
  grid-template-areas:
    "nav nav nav"
    "sectionrecherche sectionrecherche sectionrecherche"
    "sectionmarseille sectionmarseille sectionpopu"
    "sectionactivite sectionactivite sectionactivite";
  grid-column-gap: 40px;
  margin-left: 45px;
  margin-right: 45px;
}
.container_carte {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80%;
  flex-wrap: wrap;
  justify-content: space-around;
}
.marseille {
  grid-area: sectionmarseille;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 95%;
  background-color: #f2f2f2;
  border-radius: 10px;
}
.populaire {
  grid-area: sectionpopu;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 95%;
  background-color: #f2f2f2;
  border-radius: 20px;
}
.popu {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}
.popu i {
  color: black;
  font-size: 20px;
}
.activite {
  grid-area: sectionactivite;
  display: grid;
  width: 100%;
  height: 100%;
  /*background-color: blue;
  /*float: left;*/
}
.carte {
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 85%;
  height: 24%;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
}
.carte i {
  margin-top: 18px;
} /*
.carte p {
  margin-top: 20px;
  margin-bottom: 20px;
}*/
.carte_pop {
  border-radius: 10px 0 0 10px;
  width: 70%;
  height: 95%;
}
.carte_mars {
  border-radius: 10px 10px 0 0;
  width: 95%;
  height: 100%;
  margin: 5px;
  align-self: center;
}
.cartedescription {
  display: grid;
  align-self: normal;
  grid-template-rows: 20px 20px;
  align-items: center;
  width: 100%;
  height: 25%;
  padding: 10px;
  margin-left: 10px;
}
.etoiles {
  display: flex;
}
/*.etoilegrise {
  color: grey;
}*/
.etoilegrise i {
  color: #f2f2f2;
}
.cartedescriptionpop {
  display: grid;
  align-self: flex-start;
  grid-template-rows: 40px 20px;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px;
}
.carte_image {
  display: flex;
  background-color: white;
  border-radius: 15%;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 5px;
}
.carte1 {
  display: flex;
  width: 28%;
  height: 45%;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-around;
  background-color: white;
  border-radius: 15px;
}
.carte1 i {
  margin-top: 10px;
}
.carte_image1 {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: white;
  border-radius: 15%;
}
.container_carte1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 15%;
}
.afficher {
  margin: 0px 15px 15px 30px;
}
.container_carte2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "vieuxporc pomegue calanque notredame"
    "vieuxporc pomegue calanque longchamp"
    "vieuxporc frioul calanque longchamp";
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  height: 68%;
}
.cartevieuxporc {
  grid-area: vieuxporc;
  width: 100%;
  height: 90%;
}
.cartepomegue {
  grid-area: pomegue;
  height: 93%;
}
.cartefrioul {
  grid-area: frioul;
  height: 79%;
}
.cartecalanque {
  grid-area: calanque;
  height: 90%;
}
.cartenotredame {
  grid-area: notredame;
  height: 90%;
}
.cartelongchamp {
  grid-area: longchamp;
  height: 80%;
}
.carte_image2 {
  height: 100%;
  border: 1px solid #f2f2f2;
  border-radius: 20px 20px 20px 20px;
}
.cartedescriptionacti {
  padding: 10px;
  height: 10%;
  display: flex;
  align-items: center;
  margin-left: 15px;
}
.carte_activp {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 90%;
}
.carte_actipo {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 80%;
}
.carte_actifr {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 75%;
}
.carte_actica {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 90%;
}
.carte_actind {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 75%;
}
.carte_actilc {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 79%;
}
i {
  display: flex;
  flex-direction: row;
  width: 20px;
  height: 10px;
  color: #0065fc;
}
a {
  text-decoration: none;
  color: black;
}
.footer {
  grid-area: footer;
  background-color: #f2f2f2;
  display: flex;
  width: 100%;
  flex-direction: row;
  text-align: left;
  list-style-type: none;
  text-decoration: none;
}
.propos {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-right: 275px;
}
.propos li {
  list-style-type: none;
  margin-bottom: 10px;
}
.propos ul {
  padding-left: 0px;
}
.heber {
  display: flex;
  flex-direction: column;
  margin-right: 275px;
}
.heber li {
  list-style-type: none;
  margin-bottom: 10px;
}
.heber ul {
  padding-left: 0px;
}
.assistance {
  display: flex;
  flex-direction: column;
}
.assistance li {
  list-style-type: none;
  margin-bottom: 10px;
}
.assistance ul {
  padding-left: 0px;
}
